# (c) Didier  LECLERC 2020 CMSIG MTE-MCTRCT/SG/SNUM/UNI/DRC Site de Rouen
# créé sept 2022

--no-index
--find-links ./bibli_install

wheel==0.40.0

# Python < 3.8
importlib_metadata==4.13.0


# Python All

six==1.16.0
isodate==0.6.1
pyparsing==3.0.9
setuptools==67.6.0
rdflib==6.3.2

                    
                                           
